<section aria-labelledby="data-table-heading">
    <h3 id="data-table-heading">Recent Transactions</h3>
    <table aria-describedby="transactions-summary">
        <caption id="transactions-summary">A summary of the most recent financial transactions.</caption>
        <thead>
            <tr>
                <th scope="col">Transaction ID</th>
                <th scope="col">Date</th>
                <th scope="col">Amount</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">TXN-9823</th>
                <td>2023-10-24</td>
                <td>$1,500.00</td>
                <td>Completed</td>
            </tr>
            <tr>
                <th scope="row">TXN-9824</th>
                <td>2023-10-25</td>
                <td>$250.00</td>
                <td>Pending</td>
            </tr>
        </tbody>
    </table>
</section>
